*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:invalid {
  border: 2px red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  text-align: center;
}

.bookDisplay {
  display: grid;
  justify-content: center;
  margin-top: 30%;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  height: 75vh;
  width: 75vw;
  margin: auto;
  border: 10px solid goldenrod;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  width: 100%;
  font-size: 36px;
}

.removeBook {
  width: 25%;
  margin: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 5px solid goldenrod;
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.61);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalBody {
  padding: 10px 15px;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
